div {
    background-color: rgb(209, 227, 117);
}

#container {
    background-color: aquamarine;
}

header {
    background-color: rgb(182, 98, 92);
}

nav {
    background-color: #eb3838;
    width: 20%;
    float: left;
}

article {
    background-color: #5fdcff;
    width: 80%;
    float: left;
}

footer {
    clear: left;
}

/* kropka to odnośnik do klasy hash to odnośnik do id*/
.white_text {
    color: rgb(255, 255, 255);
}

.rotated {
    width: 100px;
    height: 20px;
    background-color: blue;
    left: 50%;
    top: 50%;
    position: relative;
    margin: -10px 0 0 -50px;
    transform: rotate(45deg);
    opacity: 0.5;
}

.framed {
    position: absolute;
    width: 100px;
    height: 50px;
    border: 3px solid #ffffff;
}

.topleft {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    left: -3px;
    top: -3px;
}

.topright {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    left: 93px;
    top: -3px;
}

.bottomleft {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    top: 43px;
    left: -3px;
}


.bottomright {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: green;
    top: 43px;
    left: 93px;
}

.MenuList>li:nth-child(odd) {
    color: rgb(14, 14, 221);
}

.MenuList>li:nth-child(even) {
    color: rgb(217, 255, 0);
}

ul.FooterList {
    list-style-type: none;
}

ul.FooterList>li {
    float: left;
    padding: 16px;
    text-align: center;
    display: block;
}